@using TheForumHubMVC.Data.ViewModels.Admin;
@model IEnumerable<ReportAnswerVM>
@{
    ViewData["Title"] = Model.First().Answer.User.UserName;
}
<div class="row">
    <div class="col-md-8 offset-2 text-white">
        <div class="card mb-3">
            <div class="card-header">
                <h3 style="width:90%">
                    <b>
                        @if (await _userManager.IsInRoleAsync(Model.First().Answer.User, Roles.Admin))
                        {
                            @await Html.PartialAsync("_IsAdmin", Model.First().Answer.User)
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.First().User.UserName">@@@Model.First().Answer.User.UserName</a>
                        }
                    </b>
                </h3>
            </div>
            <div class="card-body">
                <p>@Model.First().Answer.Content</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-info float-start" asp-controller="Questions" asp-action="Details" asp-route-id="@Model.First().Answer.QuestionId">Details</a>
                <a class="btn btn-danger float-end" asp-controller="Answer" asp-action="Delete" asp-route-id="@Model.First().Answer.Id">Delete</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4><b>[@Model.First().ReportCount] Reports:</b></h4>
            </div>
            <div class="card-body">
                @foreach (var report in Model)
                {
                    <div class="card mb-1">
                        <div class="card-header">
                            @{
                                var user = report.User;
                            }
                            @if (await _userManager.IsInRoleAsync(user, Roles.Admin))
                            {
                                @await Html.PartialAsync("_IsAdmin", user)
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="Details" asp-route-id="@report.User.UserName">@@@user</a>
                            }
                            <a style="float:right;" asp-action="Remove" asp-route-id="@report.Id"><i class="bi bi-x-lg text-danger"></i></a>
                        </div>
                        <div class="card-body">
                            <p>@report.ReportContent</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>